.navstuff{
  border:1px black solid;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
}

.navlinks{
  display: flex;
  justify-content: space-around;
  width: 40vw;
}

